[data-theme="default"] {
    --header_main-background: url('./asset/header/bg-head.png');
    --header_main-color: linear-gradient(0deg, #00ccff 0%, #b9e8ff 70.92285%);
    --header_main-fontSize: 40px;
}