/* el-dialog css */
.v-modal{
  background: rgba(0, 0, 0, .5) !important;
}
.el-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  margin:0px !important;
  transform: translate(-50%, -50%);
  // background: linear-gradient(180deg, rgba(16, 77, 90, 0.8) 0%, rgba(4, 64, 73, 0.9) 100%) !important;
  background: rgba(13, 27, 50, 0.9)!important;
  overflow: hidden;
  
  .el-dialog__header{
    padding: 0px !important;
    position: relative;
    z-index: 10;
  }
  .el-dialog__body{
    padding: 30px;
    border: 2px solid #005986;
    box-shadow: inset 0 0 10px #005986!important;
  }
  .el-dialog__headerbtn {
    font-size: 24px;
    .el-dialog__close {
      color: #FFF;
    }
  }
}

/* el-textarea css */
.el-textarea{
  .el-textarea__inner{
    background-color: transparent;
    color: #fff;
  }
}

/* el-tooltip css */
.el-tooltip__popper{ 
  font-size: 16px !important;
}

/* el-notification css */
.el-notification{
  display: flex;
  align-items: center;
  padding-right: 32px !important;
  border-color: #71E0DD !important;
  background-color: #064652 !important;
  .el-notification__icon{
    font-size: 28px;
  }
  .el-notification__title,
  .el-notification__content{
    font-size: 22px;
    line-height: 32px;
    color: #fff !important;
  }
  .el-notification__closeBtn{
    color: #fff;
    font-size: 24px;
  }
  .el-notification__closeBtn:hover{
    color: #fff;
  }
}

/* el-notification css */
.el-badge__content{
  height: auto !important;
  line-height: 1 !important;
  font-size: 22px !important;
  padding: 2px 8px !important;
  border-radius: 15px !important;
}

/* el-tooltip__popper css */
.el-tooltip__popper.is-light{
  color: #fff;
  font-size: 24px !important;
  background: #043A46!important;
  border-color: #71E0DD !important;
}