// 滚动条
@import url(./scrollbar.less);
// 基础
@import url(./base.less);

.wk-btn {
  background: none !important;
  color:rgb(255 255 255 / 82%);
  &:hover {
    color: #409eff;
    border-color: #409eff;
  }
}