[data-theme="yellow"] {
    --header_main-background: url('./asset/header/bg-head.png');
    --header_main-color: linear-gradient(0deg, #fff200 0%, #ffc7b9 70.92285%);
    --header_main-fontSize: 40px;

    /* 数据区 */
    --dataArea_background: url('./asset/dataArea/bg.png') no-repeat 0 0 / 100% 100%; //大背景
    --dataArea_mark-background: url('./asset/dataArea/dian.png') no-repeat 0 0 / 100% 100%; //标记背景
    --dataArea_mark_title-background: url('./asset/dataArea/head.png') no-repeat  center 0; //标题背景
    --dataArea_mark_line-background: url('./asset/dataArea/line.png') no-repeat  center bottom; //分割线背景
}